.app-root 
{

	min-height: 100%;
	
	display: block;
	
	position: relative;
	
	padding-bottom: 100px; 
	
}
.space
{
	width: 4px;
	height: auto;
	display: inline-block;
}	
footer 
{
	
	position: absolute;
	
	bottom: 0;
	
	width: 100%;
	
}
.mx-auto
{
	width: 35%;
}

