div.app-root
    // Footer
    footer.text-center.text-lg-start.text-dark.bg-light.fixed-bottom
        // Copyright
        div.text-center.p-4
            | Copyright © 2023: 
            a.text-decoration-none.text-reset.fw-bold(href="/") Rahul Shah
            // Copyright
    // Footer
