nav#my-navbar.navbar.navbar-expand-lg.navbar-light
  div.container-fluid
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNavAltMarkup
      div.navbar-nav
        a.nav-link(aria-current="page", href="/") About Me
        a.nav-link(href="https://rahulshah22.pythonanywhere.com/", target="_blank") Blogs
        a.nav-link(href="/algorithms") Deep Dive
    div.justify-content-end
      button#scrollToContactFormButton.btn.btn-primary(type="button") Say hi!

