mixin projects(all_projects)
  h4.text-center Projects
  if all_projects && all_projects.length
    div.row.justify-content-between
      each project in all_projects
        div.col-sm-6.col-md-4.col-lg-3.mb-4
          div.card.border-dark(class="custom-card")
            div.card-body.text-dark(class="custom-card-body")
              h5.card-title #{project.name}
              p.card-text #{project.description}
              a.btn.btn-primary(href=project.html_url) Open in Github
  else
    div.card.text-center
      div.card-body
        p Loading projects...