mixin projects(all_projects)
  h4.text-center Projects
  if all_projects && all_projects.length
    div.row.g-2(data-masonry='{"percentPosition": true }')
      each project in all_projects
        div.col-sm-6.col-md-4
          div.card.border-dark
            div.card-body.text-dark
              h5.card-title #{project.name}
              p.card-text #{project.description}
              a.btn.btn-primary(href=project.html_url target="_blank") Open in Github
  else
    div.card.text-center
      div.card-body
        p Loading projects...