extends layout

block layout-content
    p
        | This page contains a collection of core data structures and algorithms that make up the backbone of this website.
        | Each section includes a snippet of code that shows how these concepts are implemented in my website, demonstrating
        | practical applications of fundamental computer science principles.
    ul
        li
            h5 Map
    script(src="https://gist.github.com/rahulnshah/b9e90e32eb71912fdcaf50316d0b46b3.js")
    ul
        li
            h5 Array
    script(src="https://gist.github.com/rahulnshah/05e2729fee3b22c2054dc3013934632f.js")
    ul
        li
            h5 Stack
    script(src="https://gist.github.com/rahulnshah/f910299bcad4a1717e4e67e2b42fff52.js")
    