extends layout

block layout-content
    div.container
        h1 Welcome!
        p My name is Rahul. I am an undergraduate student at New Jersey Institute of Technology, where I am pursuing a Bachelor of Science in Computer Science degree. I enjoy building elegant software through programming. Web Development, Decentralized Applications (DApps), and Internet of Things (IoT) are things that excite me the most in the realm of Computer Science. On this homepage, you can find links to my personal projects and blog posts.
        p If you have any questions or any suggestions about movies, games, or just want to say a friendly "Hello!", you can reach me at #[a.text-decoration-none(href="mailto:rahulnshah24@gmail.com") rahulnshah24@gmail.com]
    div.col-md-12.text-center
        button.btn.btn-dark(type="button") Show Resume
    br
    div.container
        p#demo
    br
    script(src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js")

    // Optionally, include the theme (if you don't want to struggle to write the CSS)
    link(rel="stylesheet", href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css")

    // Prepare a container for your calendar.
    div.container
        div.calendar
            // Loading stuff
            | Loading the data just for you.
    br
    div.container
        h3.text-center Data Structures I Used
        ul.list-unstyled
            ul
                li
                    h4 Map
                script(src="https://gist.github.com/rahulnshah/b9e90e32eb71912fdcaf50316d0b46b3.js")
                li
                    h4 Array
                script(src="https://gist.github.com/rahulnshah/05e2729fee3b22c2054dc3013934632f.js")
                li
                    h4 Stack
                script(src="https://gist.github.com/rahulnshah/f910299bcad4a1717e4e67e2b42fff52.js")
    script.
        // or enable responsive functionality:
        GitHubCalendar(".calendar", "rahulnshah", { responsive: true, tooltips: true});

    script(src="scripts/showRes.js")
