extends layout

block layout-content
    h3 Welcome!
    p 
        | Hey there! I'm a Software Engineer who loves turning ideas into code. I graduated
        | with a Bachelor's Degree in Computer Science from the New Jersey Institute of Technology.
        | My work focuses on web development, mobile apps, and machine learning. Outside of coding, 
        | you'll find me at the movies with friends, playing basketball, or hitting the gym.

    p 
        | Want to connect? Reach out at 
        a.text-decoration-none(href="mailto:rahulnshah24@gmail.com") rahulnshah24@gmail.com

    div.col-md-12.text-center
        button.btn.btn-dark(type="button") Show Resume
    br
    p#demo
    div#resume-box
    br
    h4.text-center Core Data Structures and Algorithms Behind the Code
    ul
        li
            h5 Map
    script(src="https://gist.github.com/rahulnshah/b9e90e32eb71912fdcaf50316d0b46b3.js")
    ul
        li
            h5 Array
    script(src="https://gist.github.com/rahulnshah/05e2729fee3b22c2054dc3013934632f.js")
    ul
        li
            h5 Stack
    script(src="https://gist.github.com/rahulnshah/f910299bcad4a1717e4e67e2b42fff52.js")
    
    script(src="scripts/showRes.js")
