@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Courier Prime', monospace;
}

.app-root {

	min-height: 100%;

	display: block;

	position: relative;

	padding-bottom: 100px;

}

.space {
	width: 4px;
	height: auto;
	display: inline-block;
}

footer {

	position: absolute;

	bottom: 0;

	width: 100%;

}

.mx-auto {
	width: 35%;
}

.custom-card {
	height: auto;
	margin-bottom: 1rem;
}

.custom-card-body {
	height: auto;
}